# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

"problem statement goes here"

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
#Code:
sat_2017 = pd.read_csv('../data/sat_2017.csv')
act_2017 = pd.read_csv('../data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [10]:
# Code:

sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [4]:
act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer:

sat_2017: We've got data for each state's participation, reading/verbal, math, and total scores. There's an incredibly wide range of participation that varies from state to state from 2% up to 100%. Also, I think there may be at least one error, because I highly doubt the average math score in Maryland was a 52 out of 800. Perhaps some of the participation values are errors too. Other than that, the averages seem like they could be realistic.

act_2017: We've got data for each state's participation, English, math, reading, science, and composite scores. Like with the SAT scores, here there is also a wide range of participation from 8% up to 100%. Scores have low values hovering around 2/36 and going up to 25 or 26 out of 36. Also, there appears to be a typo in Wyoming's composite score.

#### 4a. Does the data look complete?

Answer: It looks complete in that there are no empty values. However, some of these values might be errors like I mentioned above.

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer: Maryland's average math score on the 2017 SAT is in fact 524, not 52.

The min/max possible scores on the SAT are 0/1600 with 0/800 for each part.

The min/max possible scores on the ACT are 0/36 with 0/36 for each part too.

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [11]:
# notice the syntax here that is used to assign the integer 524 as a value to that particular cell.
# There's a comma inside the brackets, clearly indicating ROW, COLUMN

sat_2017.loc[20, 'Math'] = 524

In [12]:
# This syntax, unlike the one above, is used to ask what the value of a particular [row][column] is, but
# this syntax cannot be used to reassign its value. You can only change the value using the above syntax.

sat_2017.loc[20]['Math']

524

In [13]:
act_2017.loc[51, "Composite"] = 20.2
act_2017.loc[51, "Composite"]

20.2

In [14]:
act_2017.loc[0, "Composite"] = 21.0
act_2017.loc[0, "Composite"]

21.0

#### 5. What are your data types? 
Display the data types of each feature.

In [15]:
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [16]:
act_2017.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer: The participation type in both .csv files is listed as an object, even though it's a number. Also, the Composite series in the ACT csv should be floats, not objects.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [17]:
#
sat_2017['Participation'] = sat_2017['Participation'].map(lambda x: str(x).replace('%',''))
act_2017['Participation'] = act_2017['Participation'].map(lambda x: str(x).replace('%',''))

In [18]:
sat_2017['Participation'] = sat_2017['Participation'].astype(float)
act_2017['Participation'] = act_2017['Participation'].astype(float)

- Fix any individual values preventing other columns from being the appropriate type.

In [19]:
# already fixed act_2017 typo listed above in 4C

- Finish your data modifications by making sure the columns are now typed appropriately.

In [20]:
act_2017['Composite'] = act_2017['Composite'].astype(float)

- Display the data types again to confirm they are correct.

In [21]:
print(sat_2017.dtypes)
act_2017.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [24]:
#code

sat_2017 = sat_2017.rename({'State': 'state', "Participation": "'17_sat_partic", "Evidence-Based Reading and Writing": "'17_sat_language",'Math':"'17_sat_math", "Total":"'17_sat_total"}, axis='columns')
act_2017 = act_2017.rename({'State': 'state', "Participation": "'17_act_partic", "English": "'17_act_english", "Math": "'17_act_math","Reading": "'17_act_reading", "Science": "'17_act_science", "Composite": "'17_act_composite"}, axis='columns')

In [27]:
lst = []
for col in act_2017.columns: 
    lst.append(col)
lst

['state',
 "'17_act_partic",
 "'17_act_english",
 "'17_act_math",
 "'17_act_reading",
 "'17_act_science",
 "'17_act_composite"]

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [28]:
# the row in question is the "national" data/row for the ACT, which is not included in the SAT data.
# If it were, then removing it wouldn't be necessary, but this is required in order to merge the dataframes.

act_2017.drop(act_2017.index[0])
# If you re-run this cell for whatever reason, be sure to put a # on the previous line so that
# it doesn't unnecessarily get rid of another row!

,state,'17_act_partic,'17_act_english,'17_act_math,'17_act_reading,'17_act_science,'17_act_composite
1,Alabama,100.0,18.9,18.4,19.7,19.4,19.2
2,Alaska,65.0,18.7,19.8,20.4,19.9,19.8
3,Arizona,62.0,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100.0,18.9,19.0,19.7,19.5,19.4
5,California,31.0,22.5,22.7,23.1,22.2,22.8
6,Colorado,100.0,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31.0,25.5,24.6,25.6,24.6,25.2
8,Delaware,18.0,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32.0,24.4,23.5,24.9,23.5,24.2
10,Florida,73.0,19.0,19.4,21.0,19.4,19.8
11,Georgia,55.0,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90.0,17.8,19.2,19.2,19.3,19.0
13,Idaho,38.0,21.9,21.8,23.0,22.1,22.3
14,Illinois,93.0,21.0,21.2,21.6,21.3,21.4
15,Indiana,35.0,22.0,22.4,23.2,22.3,22.6
16,Iowa,67.0,21.2,21.3,22.6,22.1,21.9
17,Kansas,73.0,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100.0,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100.0,19.4,18.8,19.8,19.6,19.5
20,Maine,8.0,24.2,24.0,24.8,23.7,24.3
21,Maryland,28.0,23.3,23.1,24.2,2.3,23.6
22,Massachusetts,29.0,25.4,25.3,25.9,24.7,25.4
23,Michigan,29.0,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100.0,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100.0,18.2,18.1,18.8,18.8,18.6
26,Missouri,100.0,19.8,19.9,20.8,20.5,20.4
27,Montana,100.0,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84.0,20.9,20.9,21.9,21.5,21.4
29,Nevada,100.0,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18.0,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34.0,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66.0,18.6,19.4,20.4,20.0,19.7
33,New York,31.0,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100.0,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98.0,19.0,20.4,20.5,20.6,20.3
36,Ohio,75.0,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100.0,18.5,18.8,20.1,19.6,19.4
38,Oregon,40.0,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23.0,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21.0,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100.0,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80.0,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100.0,19.5,19.2,20.1,19.9,19.8
44,Texas,45.0,19.5,20.7,21.1,20.9,20.7
45,Utah,100.0,19.5,19.9,20.8,20.6,20.3
46,Vermont,29.0,23.3,23.1,24.4,23.2,23.6
47,Virginia,29.0,23.5,23.3,24.6,23.5,23.8
48,Washington,29.0,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69.0,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100.0,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100.0,19.4,19.8,20.8,20.6,20.2

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [29]:
combined_17 = pd.merge(sat_2017, act_2017, on ='state')

In [30]:
combined_17.head()

,state,'17_sat_partic,'17_sat_language,'17_sat_math,'17_sat_total,'17_act_partic,'17_act_english,'17_act_math,'17_act_reading,'17_act_science,'17_act_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.8
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.7
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.4
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.8

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [31]:
# combined_17.to_csv('combined_17.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [32]:
sat_2018 = pd.read_csv('../data/sat_2018.csv')
act_2018 = pd.read_csv('../data/act_2018.csv')

In [33]:
sat_2018['Participation'] = sat_2018['Participation'].map(lambda x: str(x).replace('%',''))
act_2018['Participation'] = act_2018['Participation'].map(lambda x: str(x).replace('%',''))

In [34]:
sat_2018['Participation'] = sat_2018['Participation'].astype(float)
act_2018['Participation'] = act_2018['Participation'].astype(float)

In [37]:
sat_2018 = sat_2018.rename({'State': 'state', 'Participation': "'18_sat_partic", "Evidence-Based Reading and Writing": "'18_sat_language",'Math':"'18_sat_math", "Total":"'18_sat_total"}, axis='columns')
act_2018 = act_2018.rename({'State': 'state', "Participation": "'18_act_partic", "Composite": "'18_act_composite"}, axis='columns')

In [40]:
lst3 = []
for col in act_2018.columns: 
    lst3.append(col)
lst3

['state', "'18_act_partic", "'18_act_composite"]

In [41]:
sat_2018.head()

        state  '18_sat_partic  '18_sat_language  '18_sat_math  '18_sat_total
0     Alabama             6.0               595           571           1166
1      Alaska            43.0               562           544           1106
2     Arizona            29.0               577           572           1149
3    Arkansas             5.0               592           576           1169
4  California            60.0               540           536           1076

In [44]:
act_2018.head(10)

                  state  '18_act_partic  '18_act_composite
0               Alabama           100.0               19.1
1                Alaska            33.0               20.8
2               Arizona            66.0               19.2
3              Arkansas           100.0               19.4
4            California            27.0               22.7
5              Colorado            30.0               23.9
6           Connecticut            26.0               25.6
7              Delaware            17.0               23.8
8  District of columbia            32.0               23.6
9               Florida            66.0               19.9

In [45]:
act_2018['state'][8] = 'District of Columbia'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
act_2018['state'][8]

'District of Columbia'

In [47]:
combined_18 = pd.merge(sat_2018, act_2018, on ='state')

In [49]:
# combined_18.to_csv('combined_18.csv')

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [52]:
combined_all = pd.merge(combined_17, combined_18, on ='state')

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [53]:
#Code:
combined_all.head()

,state,'17_sat_partic,'17_sat_language,'17_sat_math,'17_sat_total,'17_act_partic,'17_act_english,'17_act_math,'17_act_reading,'17_act_science,'17_act_composite,'18_sat_partic,'18_sat_language,'18_sat_math,'18_sat_total,'18_act_partic,'18_act_composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2,6.0,595,571,1166,100.0,19.1
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.8,43.0,562,544,1106,33.0,20.8
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.7,29.0,577,572,1149,66.0,19.2
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.4,5.0,592,576,1169,100.0,19.4
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.8,60.0,540,536,1076,27.0,22.7

In [58]:
combined_all.describe()

,'17_sat_partic,'17_sat_language,'17_sat_math,'17_sat_total,'17_act_partic,'17_act_english,'17_act_math,'17_act_reading,'17_act_science,'17_act_composite,'18_sat_partic,'18_sat_language,'18_sat_math,'18_sat_total,'18_act_partic,'18_act_composite
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,40.865385,568.038462,555.769231,1123.903846,64.153846,20.994231,21.236538,22.067308,21.092308,21.573077,46.769231,562.692308,555.173077,1117.961538,60.673077,21.544231
std,35.757916,45.881758,47.342563,92.940263,32.799680,2.374159,2.000983,2.083052,3.172606,2.037599,37.677483,47.577610,47.918117,94.401305,34.545634,2.119417
min,2.000000,482.000000,468.000000,950.000000,8.000000,16.300000,18.000000,18.100000,2.300000,17.800000,2.000000,480.000000,480.000000,977.000000,7.000000,17.700000
25%,4.000000,531.750000,522.500000,1054.250000,31.000000,19.000000,19.400000,20.475000,19.900000,19.800000,4.750000,530.500000,521.750000,1047.750000,27.000000,19.975000
50%,40.500000,558.500000,544.500000,1104.500000,68.000000,20.800000,21.050000,21.850000,21.300000,21.400000,53.500000,551.000000,543.500000,1096.000000,65.500000,21.300000
75%,67.500000,612.500000,597.000000,1210.000000,100.000000,23.325000,23.150000,24.200000,23.200000,23.625000,79.250000,608.250000,592.750000,1201.000000,100.000000,23.725000
max,100.000000,644.000000,651.000000,1295.000000,100.000000,25.500000,25.300000,26.000000,24.900000,25.500000,100.000000,643.000000,655.000000,1298.000000,100.000000,25.600000

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [87]:
def stand_dev(lst):
    avg = sum(lst) / len(lst)
    new_list = []
    for i in lst:
        everything_else = (avg - i) ** 2
        new_list.append(everything_else)
    variance = sum(new_list) / len(lst)
    answer = variance ** 0.5
    return answer

list5 = [1, 2, 3, 4, 5, 6]
stand_dev(list5)

1.707825127659933

In [88]:
np.std(list5)

# numbers match, which mean my above formula is correct

1.707825127659933

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 

*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [83]:
df_numericals = combined_all.drop(['state'], axis=1)

df_numericals = pd.DataFrame(df_numericals.apply(stand_dev, axis=0))
df_numericals

                           0
'17_sat_partic     35.412421
'17_sat_language   45.438446
'17_sat_math       46.885136
'17_sat_total      92.042269
'17_act_partic     32.482767
'17_act_english     2.351220
'17_act_math        1.981649
'17_act_reading     2.062926
'17_act_science     3.141952
'17_act_composite   2.017912
'18_sat_partic     37.313441
'18_sat_language   47.117912
'18_sat_math       47.455129
'18_sat_total      93.489193
'18_act_partic     34.211852
'18_act_composite   2.098939

In [89]:
sd = dict(zip(df_numericals.index, df_numericals[0]))
sd

{"'17_sat_partic": 35.412421140129865,
 "'17_sat_language": 45.43844591162758,
 "'17_sat_math": 46.8851359849938,
 "'17_sat_total": 92.0422686377098,
 "'17_act_partic": 32.482767393108496,
 "'17_act_english": 2.351220097469729,
 "'17_act_math": 1.9816493563689903,
 "'17_act_reading": 2.06292558815109,
 "'17_act_science": 3.1419522442783,
 "'17_act_composite": 2.017911657040839,
 "'18_sat_partic": 37.3134412699805,
 "'18_sat_language": 47.11791202012345,
 "'18_sat_math": 47.455129071028026,
 "'18_sat_total": 93.48919343935334,
 "'18_act_partic": 34.21185194650338,
 "'18_act_composite": 2.098938693495657}

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

In [90]:
np.std(combined_all["'17_sat_partic"])

35.412421140129865

Almost. My manually calculated standard deviations match up with the output from Pandas' `describe`, but numpy's `std` method gives standard deviations whose decimal values are slightly different. I suppose numpy's formula for calculating SD must be very slightly different. Based on my knowledge of math/statistics, it could be in the denominators ("n" vs. "n-1"), otherwise I'm not sure what else it would be.

In [96]:
combined_all.head();

In [92]:
combined_all['sat_participation_net_change'] = combined_all["'18_sat_partic"] - combined_all["'17_sat_partic"]
combined_all['sat_reading_net_change'] = combined_all["'18_sat_language"] - combined_all["'17_sat_language"]
combined_all['sat_math_net_change'] = combined_all["'18_sat_math"] - combined_all["'17_sat_math"]
combined_all['sat_total_net_change'] = combined_all["'18_sat_total"] - combined_all["'17_sat_total"]
combined_all['act_participation_net_change'] = combined_all["'18_act_partic"] - combined_all["'17_act_partic"]
combined_all['act_composite_net_change'] = combined_all["'18_act_composite"] - combined_all["'17_act_composite"]

In [93]:
combined_all.head()

,state,'17_sat_partic,'17_sat_language,'17_sat_math,'17_sat_total,'17_act_partic,'17_act_english,'17_act_math,'17_act_reading,'17_act_science,...,'18_sat_math,'18_sat_total,'18_act_partic,'18_act_composite,sat_participation_net_change,sat_reading_net_change,sat_math_net_change,sat_total_net_change,act_participation_net_change,act_composite_net_change
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,...,571,1166,100.0,19.1,1.0,2,-1,1,0.0,-0.1
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,...,544,1106,33.0,20.8,5.0,15,11,26,-32.0,1.0
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,...,572,1149,66.0,19.2,-1.0,14,19,33,4.0,-0.5
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,...,576,1169,100.0,19.4,2.0,-22,-18,-39,0.0,0.0
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,...,536,1076,27.0,22.7,7.0,9,12,21,-4.0,-0.1

In [94]:
# combined_all.to_csv('combined_all.csv')

In [95]:
print("Means:")
print()
print(combined_all.mean())
print()
print("Medians:")
print()
print(combined_all.median())
print()
print("Maximums:")
print()
print(combined_all.max())
print()
print("Minimums:")
print()
print(combined_all.min())
print()
print("Standard Deviations:")
print()
print(combined_all.std())
print()

Means:

'17_sat_partic                    40.865385
'17_sat_language                 568.038462
'17_sat_math                     555.769231
'17_sat_total                   1123.903846
'17_act_partic                    64.153846
'17_act_english                   20.994231
'17_act_math                      21.236538
'17_act_reading                   22.067308
'17_act_science                   21.092308
'17_act_composite                 21.573077
'18_sat_partic                    46.769231
'18_sat_language                 562.692308
'18_sat_math                     555.173077
'18_sat_total                   1117.961538
'18_act_partic                    60.673077
'18_act_composite                 21.544231
sat_participation_net_change       5.903846
sat_reading_net_change            -5.346154
sat_math_net_change               -0.596154
sat_total_net_change              -5.942308
act_participation_net_change      -3.480769
act_composite_net_change          -0.028846
dtype: float64

Medians:

'17_sat_partic                    40.50
'17_sat_language                 558.50
'17_sat_math                     544.50
'17_sat_total                   1104.50
'17_act_partic                    68.00
'17_act_english                   20.80
'17_act_math                      21.05
'17_act_reading                   21.85
'17_act_science                   21.30
'17_act_composite                 21.40
'18_sat_partic                    53.50
'18_sat_language                 551.00
'18_sat_math                     543.50
'18_sat_total                   1096.00
'18_act_partic                    65.50
'18_act_composite                 21.30
sat_participation_net_change       1.00
sat_reading_net_change             2.00
sat_math_net_change                4.00
sat_total_net_change               6.00
act_participation_net_change      -1.00
act_composite_net_change          -0.10
dtype: float64

Maximums:

state                           Wyoming
'17_sat_partic                    100.0
'17_sat_language                    644
'17_sat_math                        651
'17_sat_total                      1295
'17_act_partic                    100.0
'17_act_english                    25.5
'17_act_math                       25.3
'17_act_reading                    26.0
'17_act_science                    24.9
'17_act_composite                  25.5
'18_sat_partic                    100.0
'18_sat_language                    643
'18_sat_math                        655
'18_sat_total                      1298
'18_act_partic                    100.0
'18_act_composite                  25.6
sat_participation_net_change       90.0
sat_reading_net_change               30
sat_math_net_change                  52
sat_total_net_change                 82
act_participation_net_change       25.0
act_composite_net_change            3.1
dtype: object

Minimums:

state                           Alabama
'17_sat_partic                      2.0
'17_sat_language                    482
'17_sat_math                        468
'17_sat_total                       950
'17_act_partic                      8.0
'17_act_english                    16.3
'17_act_math                       18.0
'17_act_reading                    18.1
'17_act_science                     2.3
'17_act_composite                  17.8
'18_sat_partic                      2.0
'18_sat_language                    480
'18_sat_math                        480
'18_sat_total                       977
'18_act_partic                      7.0
'18_act_composite                  17.7
sat_participation_net_change      -27.0
sat_reading_net_change             -144
sat_math_net_change                 -89
sat_total_net_change               -228
act_participation_net_change      -70.0
act_composite_net_change           -1.7
dtype: object

Standard Deviations:

'17_sat_partic                  35.757916
'17_sat_language                45.881758
'17_sat_math                    47.342563
'17_sat_total                   92.940263
'17_act_partic                  32.799680
'17_act_english                  2.374159
'17_act_math                     2.000983
'17_act_reading                  2.083052
'17_act_science                  3.172606
'17_act_composite                2.037599
'18_sat_partic                  37.677483
'18_sat_language                47.577610
'18_sat_math                    47.918117
'18_sat_total                   94.401305
'18_act_partic                  34.545634
'18_act_composite                2.119417
sat_participation_net_change    18.093721
sat_reading_net_change          28.185579
sat_math_net_change             23.123928
sat_total_net_change            50.184918
act_participation_net_change    13.329152
act_composite_net_change         0.707200
dtype: float64

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

In [ ]:
numericals = combined_all

numericals.drop(columns =['state'], inplace=True)

numericals.head();

In [ ]:
plt.figure(figsize=(12,12))
sns.heatmap(numericals.corr(), cmap="Blues");

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        plt.title(list_of_titles)
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
combined_all.head()

In [ ]:
df_columns = list(combined_all.columns)

In [ ]:
# combined_all['Participation_x'].hist()

# 2017 SAT participation
subplot_histograms(combined_all,
                   ["'18_sat_partic", "'18_act_partic"],
                   ['2018 SAT Participation'],
                   ['xlabel_a', 'xlabel_b'])

In [ ]:
combined_all[['Participation_x', 'Participation_y']].hist()

# 2017 ACT participation

In [ ]:
combined_all["'18_sat_partic"].hist()


# 2018 SAT Participation

In [ ]:
combined_all["'18_act_partic"].hist()

# 2018 ACT Participation

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
combined_all.head()

In [ ]:
# working on this with Greenspan

# Codeplt.figure(figsize=(10,6)) # (width, height)
plt.title("SAT vs. ACT math scores for 2017")
sns.scatterplot(combined_all["Math_x"], combined_all["Math_y"])
plt.xlabel("SAT Scores")
plt.ylabel("ACT Scores");

In [ ]:
# Create a figure.
plt.figure(figsize=(10,6))

# Generate a scatterplot of our data.
plt.scatter(combined_all['Math_x'],
            combined_all['Math_y'],
            color = 'black')
# Create a title.
plt.title('2017 Math: SAT(x) vs ACT(y)', fontsize = 24);

In [ ]:
# Create a figure.
plt.figure(figsize=(10,6))

# Generate a scatterplot of our data.
plt.scatter(combined_all['Evidence-Based Reading and Writing'],
            combined_all['Reading'],
            color = 'black')
# Create a title.
plt.title('2017 Verbal: SAT(x) vs ACT(y)', fontsize = 24);

In [ ]:
# Create a figure.
plt.figure(figsize=(10,6))

# Generate a scatterplot of our data.
plt.scatter(combined_all['Total'],
            combined_all['Composite'],
            color = 'black')
# Create a title.
plt.title('2017 Total scores: SAT(x) vs ACT(y)', fontsize = 24);

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?

## Bonus: Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code: